{% block content %}
  <script
      crossorigin="anonymous"
      src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"
    ></script>
    
    <script type="text/javascript">
      let title_h1 = document.getElementById('title-of-problem');

      function toggle_visibility(id) {
                var e = document.getElementById(id);
                if(e.style.display == 'block') {
                e.style.display = 'none';
                }
                else {
                    e.style.display = 'block';
        
                }
            }

      function add_invisible_chatbot_nextsib(div) {
        let newNodeCont = document.createElement('div');
        newNodeCont.setAttribute("id", "webchat");
        newNodeCont.setAttribute("style", "width: 50%; height: 200px; resize: none; display: none");
        div.parentNode.insertBefore(newNodeCont, div.nextSibling);
        window.WebChat.renderWebChat(
        {
          directLine: window.WebChat.createDirectLine({
            // TODO: this is only OK for hack - when we are storing real classroom data let's set up the proper direct line api auth
            // https://github.com/microsoft/BotFramework-WebChat/blob/master/docs/API.md#how-to-connect-client-app-to-bot
            secret: 'S40xfNpqQrg.m9Kwag7ugvR8g4bh4oiJd9yd7UR6GTMq2uqcCEDq7qw'
          }),
          userID: 'imastudent',
          username: 'Web Chat User',
          locale: 'en-US',
          styleOptions: {},
          overrideLocalizedStrings: {
            TEXT_INPUT_PLACEHOLDER: 'need help? ask me here!'
            }
        },
        newNodeCont
      );
      }
      function add_help_toggle_as_child(div) {
            // <!-- https://stackoverflow.com/questions/16308779/how-can-i-hide-show-a-div-when-a-button-is-clicked -->
            // <!-- Then add onclick="toggle_visibility('id_of_element_to_toggle');" to the button that is used to show and hide the div. -->
            let a_button = document.createElement('button');
            a_button.setAttribute("id", "helpbutton");
            a_button.setAttribute("class", "btn btn-warning")
            a_button.setAttribute("onclick", "toggle_visibility('webchat');")
            a_button.textContent = "help!";
            div.appendChild(document.createElement("br"));
            div.appendChild(a_button);
            document.getElementById('helpbutton').style.display = "inline";
        }
      add_invisible_chatbot_nextsib(title_h1);
      add_help_toggle_as_child(title_h1);
      
    
     </script>
{% endblock %}
