

<!-- 
  position: absolute; right: 0; margin: 20px; max-width: 300px; padding: 16px;background-color: white; -->
{% block content %}
  <form action="" method="post">
    <h1>Use a double number line to find 20% of 75 </h1>
    {% csrf_token %}
    {% load static %} 
    
        <div class="fieldWrapper" style='background: url("https://drive.google.com/uc?export=view&id=1LMrq6dNMrhbgmMktOsTGbe3puRvv5vqF"); color:white; width: 500;   background-repeat: no-repeat;  background-size: contain; padding: 100px 0 0 0;'>
            <div style="position: relative; top:-105px; left: 40px">{{ form.problem_one }} </div>
        </div>
        {{ form.problem_one.errors }}
    <input type="submit" value="Submit">
  </form>
  <p>My first paragraph.</p>
  <iframe src='https://webchat.botframework.com/embed/teacher2?s=S40xfNpqQrg.m9Kwag7ugvR8g4bh4oiJd9yd7UR6GTMq2uqcCEDq7qw'  style='min-width: 400px; width: 100%; min-height: 200px;'></iframe>
{% endblock %}
