{% block content %}
  <form action="" method="post">
    <h1 id="title-of-problem"> Use a double number line to find 20% of 75.</h1>
    {% csrf_token %}
    {% load static %}     
    <div class="fieldWrapper" style='background: url("https://drive.google.com/uc?export=view&id=1LMrq6dNMrhbgmMktOsTGbe3puRvv5vqF"); color:white; width: 500;   background-repeat: no-repeat;  background-size: contain; padding: 100px 0 0 0;'>
        <div style="position: relative; top:-105px; left: 40px">{{ form.problem_one }} </div>
    </div>
    {{ form.problem_one.errors }}
    
    <input type="submit" value="Submit">
  </form>
  {% include "_bot_add.html" %}
{% endblock %}
