

<!-- 
  position: absolute; right: 0; margin: 20px; max-width: 300px; padding: 16px;background-color: white; -->
{% block content %}
  <form action="" method="post">
    <h1>Use a double number line to find 20% of 75. <br>
        <button id='helpbutton' type="button" style="display: none" onclick="toggle_visibility('helper_bot');">help!</button>
    </h1>
    
    <div id="helper_bot" style="width: 30%; height: 200px; resize: none; display: none">
        <div id="webchat" style="height: 200px"></div>
    </div>
    {% csrf_token %}
    {% load static %}     
    <div class="fieldWrapper" style='background: url("https://drive.google.com/uc?export=view&id=1LMrq6dNMrhbgmMktOsTGbe3puRvv5vqF"); color:white; width: 500;   background-repeat: no-repeat;  background-size: contain; padding: 100px 0 0 0;'>
        <div style="position: relative; top:-105px; left: 40px">{{ form.problem_one }} </div>
    </div>
    {{ form.problem_one.errors }}
    
    <input type="submit" value="Submit">
  </form>
  {% include "_bot_add.html" %}
{% endblock %}
