{% block content %}
  <form action="" method="post">
    <h1>
        Fill in the blanks below. <br>
        <button id='helpbutton' type="button" style="display: none" onclick="toggle_visibility('helper_bot');">help!</button>
    </h1>
    {% include "_bot_div.html" %}
    {% csrf_token %}
    
    
    <div style="width: 50%; ">
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                <!-- <h2>{{ field.label_tag }} </h2> -->
                <p class="help">{{ field.help_text|safe }}: {{ field }}</p>
            </div>
        {% endfor %}
    </div>
    
</div>
    <input type="submit" value="Submit"> 
  </form>
  {% include "_bot_add.html" %}
{% endblock %}
